.smiley {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;

  background-color: yellow;
  border-radius: 50%;
  margin: 5vh auto;
}

.smiley__eyes {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.smiley__eye {
  background-color: #663F3F;
  border-radius: 50%;
  width: 50%;
  height: 8vw;
  justify-self: center;
}

.smiley__eye--left {
  grid-column: 1;
}

.smiley__eye--right {
  grid-column: 3;
}

.smiley__mouth {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  width: 35vw;
  height: 20vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10% 90%;
}

.smiley__mouth::before {
  content: '';
  display: block;
  width: 100%;
  height: 15vw;
  background-color: #663F3F;
  border-radius: 0 0 20vw 20vw; /* 20% der Viewport-Breite */
  grid-column: 1;
  grid-row: 1;
}
.smiley__lip {
  width: 100%;
  height: 2vw;
  background-color: yellow;
  border-radius: 80% 80% 80% 80% / 0 0 100% 100%;
  grid-column: 1;
  grid-row: 1;
}
.smiley__tongue {
  grid-column: 1;
  grid-row: 2;
  width: 15vw;
  height: 17vw;
  background-color: #F37878;
  border-radius: 0 0 50% 50%;
  justify-self: center;
}
.smiley__tonguelip {
  width: 15vw;
  height: 1vw;
  background-color: #663F3F;
  border-radius: 80% 80% 80% 80% / 0 0 100% 100%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}
.smiley__tongueline {
  width: 2vw;
  height: 10vw;
  background-color: darkred;
  border-radius: 0 0 50% 50%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}
