<div class="basics">
  <div class="basics__task">
    <div class="basics__title">Area Calc</div>
    <div class="basics__input">
      <mat-form-field>
        <mat-label>height</mat-label>
        <input matInput type="number" [(ngModel)]="height" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>width</mat-label>
        <input matInput type="number" [(ngModel)]="width" />
      </mat-form-field>
    </div>
    <button mat-flat-button (click)="calculateArea()">calculate area</button>
    <div class="basics__output">
      <div>Calculated Area: </div>
      <div>{{ this.area }}</div>
    </div>

  </div>
  <div class="basics__task">
    <div class="basics__title">Interfaces</div>
    <div class="basics__users" *ngFor="let user of this.users">
      <div class="basics__name">{{ user.name }}</div>
      <div class="basice__age">{{ user.age }}</div>
      <div class="basics__email" *ngIf="user.email && user.email.length > 0">
        {{ user.email }}
      </div>
    </div>
  </div>
  <div class="basics__task">
    <div class="basics__title">Generics</div>
    <div class="basics__input">
      <div>
        Input Array:
      </div>
      <div>
        {{ this.inputArray }}
      </div>
    </div>
    <button mat-flat-button (click)="reverseArray()">reverseArray</button>

    <div class="basics__output">
      <div>
        Reversed Array:
      </div>
      <div>
        {{ this.outputArray }}
      </div>
    </div>
  </div>
</div>
