.usertable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: start;
}
.usertable__title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.usertable__table {
    width: 100%;
    overflow-x: scroll;
}

.mat-column-id {
  min-width: 50px;
}

.mat-column-fullName {
  min-width: 200;
}

.mat-column-email {
  min-width: 250px;
}
.table__row {
  min-width: 600px;
}
